body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('https://img.freepik.com/free-photo/abstract-textured-backgound_1258-30495.jpg?semt=ais_hybrid&w=740&q=80');
    background-size: cover;
    background-color: white;
    color:black;
}

.hero {
  width: 100%;
  height: 420px;
  color: burlywood;
}

.hero-content {
  color: rgb(211, 39, 39);
}
/* customer register pagecss*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   /* background: url('https://wallpaper-house.com/data/out/8/wallpaper2you_244487.jpg');
    background-size: cover;*/
}

.register-container {
    width: 400px;
    margin: 80px  20PX 30px;
    padding: 30px;
    background: rgba(97, 94, 97, 0.9);
    border-radius: 10px;
    box-shadow: 5px 0 10px rgba(184, 9, 9, 0.3);
    position: relative;
}

.register-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: aliceblue;
}

.register-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #e4c2c2;
}

.register-container button {
    width: 100%;
    padding: 10px;
    background-color: #4097da;
    color: rgb(17, 15, 15);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-container button:hover {
    background-color: #0056b3;
}
p{
  color:white;
}
/*customer login page */
body {
    font-family: Arial, sans-serif;
    margin:  50px;
    padding: 20px;
  /* background: url('https://i.pinimg.com/736x/35/42/c9/3542c9d2ebd9749a11d35601f632e33b.jpg');*/
   /* background-image: url('../assets/car_image1.png');*/

    background-size: cover;
}
.login-container {
    width: 400px;
    margin:50px;
  
    padding: 50px;
    background: rgba(212, 203, 203, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.login-container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #0056b3;
}
/*admin page*/
body {
    font-family: Arial, sans-serif;
    margin: 50px;
    padding: 20px;
   /*background: url('https://img.freepik.com/free-photo/anime-car-city_23-2151710982.jpg?semt=ais_incoming&w=740&q=80');
    background-size: cover;*/
}
.admin-login-container {
    width: 400px;
    margin-left: 80px 20px 50px; /* left aligned */
    padding: 30px;
    background: rgba(10, 10, 10, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.admin-login-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(245, 239, 239);
}

.admin-login-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.admin-login-container button {
    width: 100%;
    padding: 10px;
    background-color: #28a745; /* green button */
    color: rgb(14, 13, 13);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.admin-login-container button:hover {
    background-color: #218838;
}
/*Footer*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
     background-color: blanchedalmond;
    }



.page-container {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  line-height: 1.8;
  background-color: #f3f7fc;
  margin:20px 0 50px;
 

  
}

.page-container h1 {
  margin-bottom: 20px;
  color: #0d6efd;
}

.page-container ul {
  margin-top: 10px;
}

.page-container ul li {
  margin-bottom: 8px;
}
